Flask==3.1.1
gunicorn
moviepy==1.0.3
opencv-python-headless==4.8.1.78
librosa==0.10.0
numpy==1.26.4
scipy==1.11.4
soundfile==0.12.1
numba==0.58.1
imageio==2.37
imageio-ffmpeg==0.5.1
ffmpeg-python==0.2.0
